//ALL THE CSSS THAT IS USED TO STYLE THE CARD PAYMENT FORM
.checkout_button{
  margin-top: 20px;
}

button{
  background-color: #1F938B;
  border:none;
  color: white;
  height: 40px;
  width:100%;
}

#card_form{
  padding:10px;
}

input{
  border:solid 1px black;
}

select{
  border: solid 1px black;
  margin-right:3px;
  height: auto;
  width:auto;
}

.select_width{
  width: auto;
}
