//THE CSS TO MAKE THE WEBSITE RESPONSIVE ALONG SIDE BOOTSTRAP
@media (max-width:1215px) {
  button{
    height:50px;
    margin-bottom:10px;
  }
}

@media (max-device-width: 600px) {
    #logo{
      text-align: center;
      font-size: 50px;
    }

    button{
      height:100px;
      font-size: 30px;
      margin-bottom: 20px;
    }

    .hidden_label{
      display: none;
    }
    .radio_label{
      font-size: 30px;
      padding-top:20px;
    }

    input{
      width:100%;
      height:70px;
      font-size: 30px;
    }
    select{
      height:50px;
      font-size: 20px;
      background-color: white;
    }

    p{
      margin-top:10px;
      font-size:30px;
    }

    .radio_button{
      padding-left:20px;
    }

    label{
      font-size:20px;
    }
    .gap{
      margin-bottom:10px;
    }

    strong{
      font-size: 30px;
    }
    table{
      font-size: 30px;
    }
    h3{
      font-size: 30px;
    }
    li{
      font-size: 30px;
    }

}
