//IMPORTING THE SCSS PARTIAL FILES
@import 'card_payment';
@import 'responsive';

*{
  margin:0;
  padding:0;
}

html{
  padding:0;
}

body{
  min-height: 1000px;
}

.fix{
  width:98%;
  margin:0;
  }
nav{
  margin-top: 2em;
}

.payment_steps {
  text-align: center;
}
.payment_steps li{
  list-style: none;
  display:inline-block;
  margin:0 10px 0 10px;
}

img{
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.basket{
  border:solid 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.basket h1{
  text-align: center;
}

.footer{
  height:80px;
  background-color: lightgrey;
}

table{
  text-align: center;
}

table th{
  text-align: center;
}

#alipay_pic{
  margin-top:20px;
  margin-bottom:20px;
}

#paypal{
  text-align: center;
}

#ali_pay{
  text-align: center;
}
