.checkout_button {
  margin-top: 20px; }

button {
  background-color: #1F938B;
  border: none;
  color: white;
  height: 40px;
  width: 100%; }

#card_form {
  padding: 10px; }

input {
  border: solid 1px black; }

select {
  border: solid 1px black;
  margin-right: 3px;
  height: auto;
  width: auto; }

.select_width {
  width: auto; }

@media (max-width: 1215px) {
  button {
    height: 50px;
    margin-bottom: 10px; } }
@media (max-device-width: 600px) {
  #logo {
    text-align: center;
    font-size: 50px; }

  button {
    height: 100px;
    font-size: 30px;
    margin-bottom: 20px; }

  .hidden_label {
    display: none; }

  .radio_label {
    font-size: 30px;
    padding-top: 20px; }

  input {
    width: 100%;
    height: 70px;
    font-size: 30px; }

  select {
    height: 50px;
    font-size: 20px;
    background-color: white; }

  p {
    margin-top: 10px;
    font-size: 30px; }

  .radio_button {
    padding-left: 20px; }

  label {
    font-size: 20px; }

  .gap {
    margin-bottom: 10px; }

  strong {
    font-size: 30px; }

  table {
    font-size: 30px; }

  h3 {
    font-size: 30px; }

  li {
    font-size: 30px; } }
* {
  margin: 0;
  padding: 0; }

html {
  padding: 0; }

body {
  min-height: 1000px; }

.fix {
  width: 98%;
  margin: 0; }

nav {
  margin-top: 2em; }

.payment_steps {
  text-align: center; }

.payment_steps li {
  list-style: none;
  display: inline-block;
  margin: 0 10px 0 10px; }

img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%; }

.basket {
  border: solid 1px black;
  margin-top: 30px;
  margin-bottom: 30px; }

.basket h1 {
  text-align: center; }

.footer {
  height: 80px;
  background-color: lightgrey; }

table {
  text-align: center; }

table th {
  text-align: center; }

#alipay_pic {
  margin-top: 20px;
  margin-bottom: 20px; }

#paypal {
  text-align: center; }

#ali_pay {
  text-align: center; }

/*# sourceMappingURL=master.css.map */
